@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
/* 
Css container principale 
*/
.container {
  margin-left: 0%;
  padding: 1px 16px;
  height: 100%;
  text-align: center;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
/*Sfondo gradient*/
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/*
CSS Menù laterale
*/
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 26px;
  text-decoration: none;
  transition-property: background-color, text-shadow, box-shadow, padding-right,
    padding-left, border-left;
  transition-duration: 0.6s;
  transition-timing-function: ease-out;
}

ul.topnav li a:hover:not(.active) {
  border-bottom: 3px solid white;
  background-color: rgb(17, 17, 17);

  box-shadow: inset 1px 1px 32px #000;
  text-shadow: none;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 17px;
}

ul.topnav li a.active {
  background-color: #004ca0;
}

ul.topnav li.right {
  float: right;
}
@media screen and (max-width: 1000px) {
  ul.topnav li.right,
  ul.topnav li {
    float: none;
  }
}
/*
Css Form Contatti
*/
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type="submit"] {
  background-color: #ed1d24;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #a11419;
}
.forms {
  border-radius: 5px;
  background-color: #f2f2f2;
  margin-left: 43%;
  width: 50%;
  text-align: center;
  padding: 2%;
}
footer {
  text-align: center;
  padding: 3px;
  background-color: #333;
  color: white;
}

.footersinistra {
  padding-left: 10%;
}

/*
Css calendario
*/
iframe {
  border: 0;
  width: 400px;
  height: 300px;
}

/*
 Slideshow css 
*/
.immagini-slideshow{
  width: 900px;
  height: 506px;
  border-radius: 5%;
}
.mySlides {
  display: none;
  color: black;
}
/* Slideshow forms */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  vertical-align: middle;
  width: 900px;
  height: 506px;
}

/* Caption text */
.text {
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: #717171;
}
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 1000px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}
/*
CSS avatar
*/
.avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid #004897;
  transition: all 0.2s ease-in-out;
}
.avatar:hover {
  transform: scale(1.1);
}
.avatartable {
  width: 80%;
  text-align: justify;
}
.avatartable td {
  height: 150px;
  position: relative;
  left: 24%;
}
.title {
  color: #ed1d24;
}
/* 
css portfolio
*/
.riga {
  border: 5px solid #004897;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  margin-top: 4%;
  margin-bottom: 4%;
  padding-bottom: 3%;
}
.riga img {
  width: 50%;
}
td.colR {
  width: 60%;
  height: 70%;
}
.colR img {
  width: 50%;
  box-shadow: 0px 5px 10px 2px #0e8eab;
}
.colL {
  height: 100%;
}
.colL h2 {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 0;
  text-align: left;
  margin-left: 10%;
}
.colL h3 {
  text-align: left;
  margin-left: 10%;
}
.colL a {
  margin-top: 5%;
}

hr {
  border: solid;
}
/* css portfolio/.. */

/*CSS tutorial*/
.first {
  width: 70%;
  height: 90%;
  margin-left: 15%;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  border-radius: 15px;
  transition: transform 0.2s;
}

.firstlist {
  list-style-type: circle;
  margin-top: 0%;
  margin-left: 1%;
  padding: 3%;
  width: 100%;
  background-color: #c91a1a00;
  position: relative;
  height: 30%;
  overflow: hidden;
  font-weight: 500;
  font-size: 80%;
}
.first:hover {
  transform: scale(1.07);
}
.fil {
  list-style-type: circle;
}

.tfirst {
  color: rgb(0, 0, 0);
  font-size: 150%;
  font-weight: bolder;
  padding-left: 25px;
}

.pfirst {
  font-size: 90%;
  padding-left: 25px;
  padding-right: 25px;
}

.afirst {
  float: left;
  display: initial;
}

.container-grid {
  display: grid;
  grid-template-areas:
    "1" "2"
    "3" "4";
  gap: 10px;
}

.first1 {
  grid-area: 1;
}

.first2 {
  grid-area: 1/2;
}

.first3 {
  grid-area: 2;
}

.first4 {
  grid-area: 2/2;
}
