@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    
}
/* 
Css container principale 
*/
.container{
    margin-left:0%;
    padding:1px 16px;
    height:100%;
    text-align: center;
}
/*
CSS Menù laterale
*/
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  ul.topnav li {float: left;}
  
  ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 26px;
    text-decoration: none;
    transition-property:background-color,text-shadow,box-shadow,padding-right,padding-left,border-left;
    transition-duration:.6s;
    transition-timing-function:ease-out;
  }
  
  ul.topnav li a:hover:not(.active) {
    border-left: 3px solid white;
    background-color: rgb(17, 17, 17);
    
    box-shadow:inset 1px 1px 32px #000;
    text-shadow:none;
    padding-right: 30px;
    padding-left: 30px;
    
    }
  
  ul.topnav li a.active {background-color: #004CA0;}
  
  ul.topnav li.right {float: right;}
  @media screen and (max-width: 1000px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
  }
/*
Css Form Contatti
*/
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=submit] {
    background-color: #ED1D24;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #a11419;
}
.forms {
    border-radius: 5px;
    background-color: #f2f2f2;
    margin-left: 50%;
    width: 50%;
    text-align: center;
}
footer {
    text-align: center;
    padding: 3px;
    background-color: #333;
    color: white;
}

/*
Css calendario
*/
iframe{
    border: 0;
    width:800px;
    height:600px;
}


/*
 Slideshow css 
*/

.mySlides {
    display: none;
    color: black;
}
/* Slideshow forms */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    vertical-align: middle;
    width: 900px;
    height: 506px;
}

/* Caption text */
.text {
    color: black;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
/* Number text (1/3 etc) */
.numbertext {
    color: black;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}
/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {
       opacity: .4
   }
    to {
       opacity: 1
   }
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 1000px) {
    .prev, .next,.text {
       font-size: 11px
   }
}
/*
CSS avatar
*/
.avatar{
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #004897;
    transition: all .2s ease-in-out;
}
.avatar:hover{
    transform: scale(1.1);
}
table{
    width: 100%;
}
.avatar td{
    height: 150px;
}
.title{
    color:#ED1D24;
}
/* 
css portfolio
*/
.riga {
    border: 5px solid #004897;
    border-radius: 10px;
    margin-left:auto;
    margin-right:auto ;
    width: 70%;
    margin-top: 4%;
    margin-bottom: 4%;
    padding-bottom: 3%;
}
.riga img {
    width:40%;
}
td.colR {
    width:60%;
    height: 70%;
}
.colR img{
    width: 60%;
    box-shadow: 0px 5px 10px 2px #0e8eab;
}
.colL{
    height: 100%;
}
.colL h2{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 0;
    text-align: left;
    margin-left: 10%;
}
.colL h3 {
    text-align:left;
    margin-left: 10%;
}
.colL a {
    margin-top: 5%;
}

 hr {
    border: solid;
}
/* css portfolio/.. */

/*CSS tutorial*/
.first {
  width: 600px;
  height: 300px;
  margin-left: 30%;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  border-radius: 15px;
  transition: transform 0.2s;
}

.firstlist {
  list-style-type: circle;
  margin-top: 0%;
  margin-left: 1%;
  padding: 3%;
  width: 100%;
  background-color: #c91a1a00;
  position: relative;
  height: 30%;
  overflow: hidden;
  font-weight: 500;
  font-size: 18px;
}
.first:hover {
  transform: scale(1.07);
}
.fil {
  list-style-type: circle;
}

.tfirst {
  color: rgb(0, 0, 0);
  font-weight: bolder;
  padding-left: 25px;
}

.pfirst {
  padding-left: 25px;
  padding-right: 25px;
}

.afirst {
  float: left;
  display: initial;
}
